/* Stylesheet for the "not-found component" */

.alert {
  background-color: rgba(35, 58, 56, .95);
  color: white;
}
.not-found {
  width: 80%;
  margin: 0 auto 0 auto;
  font-weight: bold;
}

.not-found i {
  color: rgba(240, 192, 109, 1);
  text-transform: uppercase;
  margin-bottom: .75rem;
}