.status-footnote {
  text-align: center !important;
  margin: 1rem auto 0 auto;
  width: 100%;
  font-style: italic;
}

iframe {
  width: 100%;
  display: block;
  margin: auto;
  height: 60vh;
  border-radius: .25rem; 
}

a {
  color: rgb(35, 58, 56);
  font-weight: bold;
}