#btn-back-to-top {
  position: fixed;
  bottom: 15px;
  right: 10px;
  display: none;
  background-color: rgb(35, 58, 56) !important;
  border: none;
  border-radius: 5px;
  padding: 2.5px;
  width: 40px;
  height: 40px;
}

#btn-back-to-top i {
  color: rgba(240, 192, 109, .75) !important;
  transition: all .25s;
}

#btn-back-to-top:hover i {
  color: rgba(240, 192, 109, 1) !important;
}