/* Stylesheet for the "back-to-top button component" */

#btn-back-to-top {
  position: fixed;
  bottom: 1rem;
  right: .5rem;
  display: none;
  background-color: rgb(35, 58, 56);
  border: none;
  border-radius: .25rem;
  padding: .1rem;
  width: 2.5rem;
  height: 2.5rem;
}

#btn-back-to-top i {
  color: rgba(240, 192, 109, .75);
  transition: all .25s;
}

#btn-back-to-top:hover i {
  color: rgba(240, 192, 109, 1);
}