/* Stylesheet for the "telephone-extensions component" */

.table-extensions {
  margin-bottom: 4rem;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.table-extensions thead tr {
  background-color: rgba(35, 58, 56, .9); 
  color: rgb(240, 192, 109);
}

.table-extensions tr {
  background-color: rgba(35, 58, 56, .5); 
  color: #FFFFFF;
  border: none;
}

.extension-column {
  font-weight: bold;
}

.btn-input-clear {
  background-color: rgba(35, 58, 56, .8);
  color: rgba(240, 192, 109, .9);
  border-radius: 0;
}

.no-results {
  display: none;
}

#search-addon {
  background-color: rgb(35, 58, 56);  
  color: rgb(240, 192, 109);
  border-left: .05rem solid rgba(240, 192, 109, 1) !important;
}