/* Stylesheet for the "telephone-extensions component" */

.extensions-header {
  background-color: rgba(35, 58, 56, .9) !important;
  color: rgba(240, 192, 109, .9);
  border-radius: 5px;
  padding: 10px 15px 10px 15px !important;
  margin-bottom: 25px !important;
}

.table-extensions {
  margin-bottom: 75px;
}

.table-extensions thead tr {
  background-color: rgba(35, 58, 56, .9) !important; 
  color: rgb(240, 192, 109) !important;
}

.table-extensions tr {
  background-color: rgba(35, 58, 56, .5); 
  color: white;
  border: none;
}

.extension-column {
  font-weight: bold;
}

.category-separator {
  text-align: center;
  font-weight: bold;
  background-color: rgba(35, 58, 56, .75) !important; 
  color: rgb(240, 192, 109) !important;
}

.no-results {
  display: none;
}

#search-addon {
  background-color: rgb(35, 58, 56);  
  color: rgb(240, 192, 109);
}