<div class="page-header">
  <h2 class="text-center">Telefon mellékek</h2>
  <div class="input-group rounded">
    <input 
      type="text" 
      class="form-control shadow-none" 
      id="myInput" 
      (input)="searchFields()" 
      placeholder="Keresés..." 
      [(ngModel)]="extensionField"/>
    <button 
      class="btn btn-input-clear shadow-none" 
      type="button" 
      (click)="clearField()">
      <i class="fa fa-close"></i>
    </button>
    <span class="input-group-text border-0" id="search-addon">
      <i class="fa fa-search"></i>
    </span>
  </div>
</div>

  <table class="table table-sm table-hover table-extensions" id="extension-table">
    <thead>
      <tr>
        <th scope="col">Mellék</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>  
      <ng-container *ngFor="let extension of extensions">
        <tr>
          <td scope="row">{{extension.name}}</td>
          <td class="extension-column">{{extension.number}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>

<h5 class="no-results text-center">Nincs keresési találat! <i class="fa fa-phone text-danger"></i></h5>