<!-- Desktop navigation bar -->
<div class="navigation-bar d-flex flex-column flex-shrink-0" style="width: 4.5rem;">
    <div class="navbar-logo-div">
      <a routerLink="" class="d-block p-3 link-dark text-decoration-none" title="AK intranet">
        <img src="assets/images/AK_logo.png" class="navbar-logo" alt="AK-logo">
      </a>
    </div>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a routerLink="" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Főoldal">
          <i class="fa fa-lg fa-home"></i>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="websites" routerLinkActive="active-navbar-element" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Linkek">
          <i class="fa fa-lg fa-link"></i>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="telephone" routerLinkActive="active-navbar-element" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Mellékek">
          <i class="fa fal-lg fa-phone"></i>
        </a>
      </li>
      <li class="nav-item navigation-help-button">
        <span data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Súgó">
          <a class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="modal" data-bs-target="#help-modal">
            <i class="fa fa-lg fa-question-circle"></i>
          </a>
        </span>
      </li>
    </ul>
    <!-- <small class="navbar-copyright">&copy; Aranyklinika 2014 - {{time | date:'yyyy'}}</small> -->
  </div>
  
  <!-- Mobile navigation bar -->
  <nav class="navigation-bar-mobile navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a routerLink="" class="d-block p-3 link-dark text-decoration-none" title="AK intranet">
      <img src="assets/images/AK_logo.png" class="navbar-logo-mobile" alt="AK-logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobile-navbar-content" aria-controls="mobile-navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-lg fa-bars navbar-toggler-mobile"></i>
    </button>
    <div class="collapse navbar-collapse" id="mobile-navbar-content">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mobile-item">
          <a routerLink="" class="nav-link">Főoldal</a>
        </li>
        <li class="nav-item mobile-item">
          <a routerLink="websites" routerLinkActive="active-navbar-mobile-element" class="nav-link">Linkek</a>
        </li>
        <li class="nav-item mobile-item">
          <a routerLink="telephone" routerLinkActive="active-navbar-mobile-element" class="nav-link">Mellékek</a>
        </li>
        <li class="nav-item mobile-item">
          <a class="nav-link" aria-current="page" title="" data-bs-toggle="modal" data-bs-target="#help-modal">Súgó</a>
        </li>
        </ul>
    </div>
  </div>
</nav>
  
  <!-- Modal -->
<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="help-modalTitle">Intranet súgó</h2>
        <i class="fa fa-lg fa-times close" data-bs-dismiss="modal" aria-label="Close"></i>        
      </div>
      <div class="modal-body">
        <h3><u>Az intranet funkciói:</u></h3>
        <br>
        <h5><u>Linkek</u></h5>
        <p>Az aranyklinika alkalmazottainak hasznos weboldalak elérhetőségei, kategóriákba sorolva.</p>
        <br>
        <h5><u>Mellékek</u></h5>
        <p>A klinikán belült használt telefonos mellékek táblázatba szedve.</p>
      </div>
    </div>
  </div>
</div>