<div class="navigation-bar d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="AK intranet">
      <img src="../../assets/images/AK_logo.png" class="site-logo" alt="AK-logo">
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="#" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Főoldal">
          <i class="fa fa-lg fa-home"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Súgó">
          <i class="fa fa-lg fa-question-circle"></i>
        </a>
      </li>
    </ul>
    
  </div>