.navigation-bar {
  height: 100% !important;
  position:  fixed !important;
  width: 75px !important;
  background-color: rgb(35, 58, 56) !important;
}

.navigation-bar-mobile {
  background-color: rgb(35, 58, 56) !important;
  padding: 0;
  display: none !important;
}

.navbar-toggler-mobile {
  color: rgba(240, 192, 109, .5) !important;
  transition: all .25s;
  padding: 2.5px;
}

.navbar-toggler {
  border: none !important;
  border: 1px solid rgba(240, 192, 109, .25) !important;
  transition: all .25s;
}

.navbar-toggler:hover {
  border: none !important;
  border: 1px solid rgba(240, 192, 109, 1) !important;
}

.navbar-toggler:hover .navbar-toggler-mobile {
  color: rgba(240, 192, 109, 1) !important;
}

.navigation-bar i {
  color: rgba(240, 192, 109, .75) !important;
}

.navigation-bar a{
  border-bottom: 1px solid rgba(240, 192, 109, .25) !important;
  /* border: none !important; */
  padding: 15px !important;
}

.navigation-bar li:hover {
  background-color: rgba(240, 192, 109, .5);
  transition: all .25s;
}

.navigation-bar li:hover i {
  color: rgba(35, 58, 56, .8) !important;
}

.active-navbar-element {
  background-color: rgba(240, 192, 109, .5);
}

.active-navbar-element i {
  color: rgba(35, 58, 56, .8) !important;
}

.active-navbar-mobile-element {
  background-color: rgba(240, 192, 109, .5);
  font-style: italic;
}

.navigation-timer {
  background-color: rgba(240, 192, 109, 1);
  color: white;
  text-align: center;
}

.navigation-help-button, .navigation-help-button small {
  color: white !important;
  cursor: pointer !important;
}

.navbar-logo {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  transition: all .25s;
}

.navbar-logo-mobile {
  width: 40px;
  /* padding: 0; */
  padding-top: 2.5px;
  transition: all .25s;
}

.navbar-logo-div {
  border-bottom: 2px solid rgba(240, 192, 109, .5) !important;
}

a:hover .navbar-logo {
filter: brightness(.75);
}

a:hover .navbar-logo-mobile {
filter: brightness(.75);
}

.navbar-copyright {
  text-align: center;
  font-size: 7.5px;
  color: white;
}

.modal-header, .modal-body {
  color: white;
  background-color: rgba(35, 58, 56, .9) !important;
}

.close {
  cursor: pointer;
  color: white;
}

.mobile-item a {
  color: rgba(240, 192, 109, .8) !important;
  text-align: center;
  border-bottom: 1px solid rgba(240, 192, 109, .25) !important;
  transition: all .25s;
}

.mobile-item:hover a {
  color: rgb(35, 58, 56) !important;
  background-color: rgba(240, 192, 109, .5) !important;
}

@media only screen and (max-width: 768px) {
  .navigation-bar {
    /* width: 55px !important; */
    display: none !important;
  }
  .navigation-bar-mobile {
    /* width: 55px !important; */
    display: block !important;
  }
  .navbar-logo {
    width: 25px;
  }
}

@media only screen and (max-width: 355px) {
  .navigation-bar {
    width: 50px !important;
    font-size: 10px !important;
  }
  .navbar-logo {
    width: 25px;
  }
}