<div class="navigation-bar d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
    <div class="navbar-logo-div">
      <a routerLink="" class="d-block p-3 link-dark text-decoration-none" title="AK intranet">
        <img src="assets/images/AK_logo.png" class="navbar-logo" alt="AK-logo">
      </a>
    </div>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a routerLink="" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Főoldal">
          <i class="fa fa-lg fa-home"></i>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="websites" routerLinkActive="active-navbar-element" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Linkek">
          <i class="fa fa-lg fa-link"></i>
        </a>
      </li>
      <li class="nav-item navigation-help-button">
        <span data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Súgó">
          <a class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="modal" data-bs-target="#help-modal">
            <i class="fa fa-lg fa-question-circle"></i>
            <br>
          </a>
        </span>
      </li>
    </ul>
    <small class="navbar-copyright">&copy; Aranyklinika 2014 - {{time | date:'yyyy'}}</small>
  </div>
  
  <!-- Modal -->
<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="help-modalTitle">Intranet súgó</h5>
        <i class="fa fa-lg fa-times close" data-bs-dismiss="modal" aria-label="Close"></i>        
      </div>
      <div class="modal-body">
        Ez valamilyen segítség szöveg helyének a neve.
        <br>
        Help1: ...
        <br>
        Help2: ...
      </div>
    </div>
  </div>
</div>