.navigation-bar {
  height: 100vh !important;
  position:  fixed !important;
  width: 125px !important;
  background-color: rgb(35, 58, 56) !important;
}

.navigation-bar i {
  color: white !important;
}

.site-logo {
  width: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}