<div class="offcanvas offcanvas-start" tabindex="-1" id="intranet-helper-canvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="intranet-helper-canvasLabel">Intranet súgó</h5>
    <button 
      type="button" 
      class="btn-close text-reset" 
      id="canvas-close-btn" 
      data-bs-dismiss="offcanvas" 
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="accordion accordion-flush" id="help-accordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button 
            class="accordion-button collapsed"
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#collapse-1" 
            aria-expanded="false" 
            aria-controls="collapse-1">
            Linkek</button>
        </h2>
        <div 
          id="collapse-1" 
          class="accordion-collapse collapse" 
          aria-labelledby="flush-headingOne" 
          data-bs-parent="#help-accordion">
          <div class="accordion-body">
            <p>
              Az aranyklinika alkalmazottainak hasznos weboldalak elérhetőségei, 
              kategóriákba sorolva, keresési és szűrési lehetőségekkel.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
        <button 
          class="accordion-button collapsed" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#collapse-2" 
          aria-expanded="false" 
          aria-controls="collapse-2">
          Mellékek</button>
        </h2>
        <div 
          id="collapse-2" 
          class="accordion-collapse collapse" 
          aria-labelledby="flush-headingTwo" 
          data-bs-parent="#help-accordion">
          <div class="accordion-body">
            <p>
              A klinikán belült használt telefonos mellékek táblázatba szedve, 
              melyek között lehetőség van keresésre.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
        <button 
          class="accordion-button collapsed" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#collapse-3" 
          aria-expanded="false" 
          aria-controls="collapse-3">
          Naptár</button>
        </h2>
        <div 
          id="collapse-3" 
          class="accordion-collapse collapse" 
          aria-labelledby="flush-headingThree" 
          data-bs-parent="#help-accordion">
          <div class="accordion-body">
          <p>
            Egy egyszerű naptár amelyet gyorsan el lehet érni minden oldalról. 
            <br>
            Lehetőség van a hónapok között előre/hátra lépni.
          </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
        <button 
          class="accordion-button collapsed" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#collapse-4" 
          aria-expanded="false" 
          aria-controls="collapse-4">
          Képernyőzár</button>
        </h2>
        <div 
          id="collapse-4" 
          class="accordion-collapse collapse" 
          aria-labelledby="flush-headingFour" 
          data-bs-parent="#help-accordion">
          <div class="accordion-body">
            <p>
              3 perc inaktivitás után a képernyő automatikusan zárolásra kerül addig, 
            ameddig a felhasználó nem nyom meg egy gombot, vagy mozgatja meg a kurzort a képernyőn.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button 
            class="accordion-button collapsed" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#collapse-5" 
            aria-expanded="false" 
            aria-controls="collapse-5">
            Telepítés (PWA)</button>
        </h2>
        <div 
          id="collapse-5" 
          class="accordion-collapse collapse" 
          aria-labelledby="flush-headingFive" 
          data-bs-parent="#help-accordion">
          <div class="accordion-body">
            <p>
              Az alkalmazásnál lehetőség van annak telepítésére.
              <br>
              Erre mind számítógépen, mind telefonon/tableten lehetőség van a megfelelő felugró ablak segítségével.
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!-- Footnote -->
    <small>
      &copy; Copyright 2014-{{time | date:'yyyy'}} - Aranyklinika, Szeged
      <hr>
      <i>Build: {{appVersion}}</i>
    </small>
  </div>
</div>