<div class="offcanvas offcanvas-start" tabindex="-1" id="intranet-helper-canvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="intranet-helper-canvasLabel">Intranet súgó</h5>
    <button 
      type="button" 
      class="btn-close text-reset" 
      id="canvas-close-btn" 
      data-bs-dismiss="offcanvas" 
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="accordion accordion-flush" id="help-accordion">
      <ng-container *ngFor="let helper of helpers">
        <div class="accordion-item">
          <h2 class="accordion-header" [id]="'flush-heading' + helper.id">
            <button 
              class="accordion-button collapsed"
              type="button" 
              data-bs-toggle="collapse" 
              [attr.data-bs-target]="'#collapse-' + helper.id">{{helper.title}}</button>
          </h2>
          <div 
            [id]="'collapse-' + helper.id" 
            class="accordion-collapse collapse" 
            data-bs-parent="#help-accordion">
            <div class="accordion-body">
              <p>
                {{helper.content}}
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    <hr>
    <small>
      &copy; Copyright 2014-{{time | date:'yyyy'}} - Aranyklinika, Szeged
      <hr>
      <i>Verzió: {{appVersion}}</i>
    </small>
  </div>
</div>