.modal-body {
  background-color: rgb(35, 58, 56) !important;
  color: white;
  text-align: center;
}

.idle-logo {
  width: 275px;
}

.idle-timer {
  color: rgb(240, 192, 109) !important;
  text-transform: uppercase;
  margin-top: -35px;
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: bold;
}

.inactive-alert {
  margin-left: auto !important; 
  margin-right: auto !important;
}

kbd {
  background-color: rgb(35, 58, 56);
  color: rgb(240, 192, 109)
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
}