/* Stylesheet for the modal window which automaticly shows on inactivity */

.modal-body {
  background-color: rgb(35, 58, 56);
  color: white;
  text-align: center;
}

.idle-logo {
  width: 275px;
}

.idle-timer {
  color: rgb(240, 192, 109);
  text-transform: uppercase;
  margin: -35px 0 25px 0;
  font-size: 25px;
  font-weight: bold;
}

.inactive-alert {
  margin: 0 auto 0 auto;
}

kbd {
  font-size: 80%;
  background-color: rgb(35, 58, 56);
  color: rgb(240, 192, 109);
}

/* Media queries */

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
  .idle-logo {
    width: 200px;
  }
}