<div class="modal fade inactive-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="assets/images/AK_logo_menu.png" alt="AK-logo" class="idle-logo">
          <div class="idle-timer">
            {{time | date:'yyyy/M/d - H:mm:ss'}}
          </div>
            <div class="alert alert-light inactive-alert w-75" role="alert">
              <h2>A képernyő inaktivitás miatt jelenleg zárolva!</h2>
              <hr>
              <small>Nyomjon meg egy <kbd>gomb</kbd>-ot, vagy mozgassa meg a <kbd>kurzor</kbd>-t az ablak bezárásához!</small>
            </div>
      </div>
    </div>
  </div>
</div>