.content-container {
  margin-left: 125px !important;
  padding-top: 25px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

@media only screen and (max-width: 768px) {
  .content-container {
    margin-left: 75px !important;
  }
}

@media only screen and (max-width: 355px) {
  .content-container {
    margin-left: 50px !important;
  }
}