/* Stylesheet for the desktop navigation-bar component */

.navigation-bar {
  height: 100%;
  position: fixed;
  width: 4.5rem !important;
  background-color: rgb(35, 58, 56);
  border-right: 1px solid rgba(240, 192, 109);
}

.navigation-bar i {
  color: rgba(240, 192, 109, .75);
}

.navigation-bar a{
  border-bottom: 1px solid rgba(240, 192, 109, .25) !important;
  padding: .75rem !important;
}

.navigation-bar li:hover {
  background-color: rgba(240, 192, 109, .5);
  transition: all .25s;
}

.navigation-bar li:hover i {
  color: rgba(35, 58, 56, .8);
}

.active-navbar-element {
  background-color: rgba(240, 192, 109, .5);
  border-radius: 0;
}

.active-navbar-element i {
  color: rgba(35, 58, 56, .8);
}

.navigation-help-button, .navigation-help-button small {
  cursor: pointer;
}

.navbar-logo {
  width: 30px;
  display: block;
  margin: 0 auto 0 auto;
  padding: 0;
  transition: all .25s;
}

.navbar-logo-div {
  border-bottom: 2px solid rgba(240, 192, 109, .5);
}

a:hover .navbar-logo {
filter: brightness(.75);
}

/* Media queries */

@media only screen and (max-width: 768px) {
  .navigation-bar {
    display: none !important;
  }
}