<div class="navigation-bar d-flex flex-column flex-shrink-0">
    <div class="navbar-logo-div">
      <a routerLink="" class="d-block p-3 link-dark text-decoration-none" title="Aranyklinika intranet">
        <img src="assets/images/AK_logo_menu.png" class="navbar-logo" alt="AK-logo">
      </a>
    </div>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <!-- Display all navigation links -->
      <ng-container *ngFor="let navigation of navigations">
        <li class="nav-item">
          <a [routerLink]="navigation.path" routerLinkActive="active-navbar-element" [routerLinkActiveOptions]="{ exact: true }" class="nav-link py-3 border-bottom" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" [attr.data-bs-original-title]="navigation.name">
            <i [class]="navigation.icon"></i>
          </a>
        </li>
      </ng-container>
      <!-- Helper component -->
      <li class="nav-item navigation-help-button">
        <span data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Súgó">
          <a class="nav-link py-3 border-bottom" aria-current="page" data-bs-toggle="offcanvas" data-bs-target="#intranet-helper-canvas">
            <i class="fa fa-lg fa-info-circle"></i>
          </a>
        </span>
      </li>
    </ul>
  </div>