/* Stylesheet for the mobile navigation-bar component */

.navigation-bar-mobile {
  background-color: rgb(35, 58, 56) !important;
  padding: 0;
  display: none;
  border-bottom: .1rem solid rgba(240, 192, 109);
}

.navbar-toggler-mobile {
  color: rgba(240, 192, 109, .5);
  transition: all .25s;
  padding: .1rem;
}

.navbar-toggler {
  border: .1rem solid rgba(240, 192, 109, .25);
  transition: all .25s;
}

.navbar-toggler:hover {
  border: .1rem solid rgba(240, 192, 109, 1);
}

.navbar-toggler:hover .navbar-toggler-mobile {
  color: rgba(240, 192, 109, 1);
}

.active-navbar-mobile-element {
  background-color: rgba(240, 192, 109, .5);
  font-style: italic;
}

.help {
  cursor: pointer;
} 

.navbar-logo-mobile {
  width: 2rem;
  padding-top: .1rem;
  transition: all .25s;
}

a:hover .navbar-logo-mobile {
filter: brightness(.75);
}

.mobile-item a {
  color: rgba(240, 192, 109, .8);
  text-align: center;
  border-bottom: .1rem solid rgba(240, 192, 109, .25);
  transition: all .25s;
}

.mobile-item:hover a {
  color: rgb(35, 58, 56);
  background-color: rgba(240, 192, 109, .5);
}

/* Media queries */

@media only screen and (max-width: 768px) {
  .navigation-bar-mobile {
    display: block !important;
  }
}