/* Stylesheet for the "welcome component" */

.welcome-container {
  margin: 0 auto 0 auto;
  text-align: center;
}

.welcome-logo {
  width: 275px;
  margin: 10% 0 25px 0;
  padding-bottom: 0px;
  
}

.welcome-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  .welcome-logo {
    width: 200px;
  }
}