/* Global stylesheet */

/* Font Family */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

:not(i){
  font-family: Montserrat !important;
}

body {
  background-color: rgba(240, 192, 109, .05);
}

router-outlet + * {
  display: block;
  animation: router-fade .25s ease-in-out;
}

.link-card {
  background-color: rgba(35, 58, 56, .9) !important;
  color: white !important;
  /* width: 350px; */
  margin: 15px auto 15px auto !important;
  transition: all .4s;
}

.link-card:hover {
  transform: scale(1.05) !important;
}

.link-thumbnail {
  width: 340px;
  height: 180px;
  margin: 5px auto 5px auto;
  border-radius: 5px;
}

.link-list {
  margin-left: auto !important;
  margin-right: auto !important;
}

.link-open {
  background-color: rgba(240, 192, 109, 1) !important;
  color: rgba(35, 58, 56) !important;
  margin-top: 10px;
}

.link-open:hover {
  color: rgba(240, 192, 109, 1) !important;
  background-color: rgba(35, 58, 56) !important;
}

.small-url {
  color: lightgray !important;
}

/* Media queries */
@media only screen and (max-width: 768px) {
  .card-title {
    font-size: smaller;
  }
  .link-open {
    font-size: smaller;
  }
  .link-thumbnail {
    width: 95%;
    height: auto;
  }
}

/* Calendar styles */
.intranet-calendar a {
  color: white;
}

.intranet-calendar button {
  background-color: rgb(35, 58, 56) !important;
  color: rgba(240, 192, 109) !important;
}

.intranet-calendar .fc-day-today {
  background-color: rgba(240, 192, 109, .75) !important;
}

/* Animations */
@keyframes router-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
    background: rgba(35, 58, 56, .95);
}

::-webkit-scrollbar-thumb {
  background: rgba(240, 192, 109, .85);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(240, 192, 109, 1);
}