/* Stylesheet for the "calendar component" */

full-calendar {
  max-width: 1280px;
  height: 80vh;
  margin: auto auto 75px auto;
  background-color: rgba(35, 58, 56, .95);
  color: white;
  padding: 5px;
  border-radius: 5px;
}