/* Stylesheet for the "calendar component" */

full-calendar {
  height: 60vh;
  margin: auto auto 4rem auto;
  background-color: rgba(35, 58, 56, .95);
  color: white;
  padding: .25rem;
  border-radius: .25rem;
}
