/* Stylesheet for the "all websites component" */

.websites-header {
  background-color: rgba(35, 58, 56, .9) !important;
  border-radius: 5px;
  padding: 10px 15px 10px 15px !important;
  margin-bottom: 25px !important;
}

.websites-header-title {
  color: rgba(240, 192, 109, .9);
  text-align: center;
}

.websites-header-filter a{
  text-align: center;
  color: rgba(240, 192, 109, 1);
  background-color: rgba(35, 58, 56) !important;
  margin: 2.5px 5px 2.5px 5px !important;
}

.websites-header-filter a:hover {
  background-color: rgba(240, 192, 109, 1) !important;
  color: rgba(35, 58, 56) !important;
  cursor: pointer;
}

.active-filter {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  border: 1px solid rgba(240, 192, 109, 1) !important;
}

.websites-header-filter .all-filter {
  color: rgba(35, 58, 56) !important;
  background-color: rgba(220, 192, 109, 1) !important;
  font-weight: bold !important;
}


.link-card {
  background-color: rgba(35, 58, 56, .9) !important;
  color: white !important;
  margin: 15px auto 15px auto !important;
  padding: 15px 0px 0px 0px;
  transition: all .4s;
  max-width: 400px !important;
}

.link-card:hover {
  transform: scale(1.05) !important;
}

.link-thumbnail {
  width: 320px;
  height: 160px; 
  margin: 5px auto 5px auto;
  border-radius: 5px;
}

.link-list {
  margin-left: auto !important;
  margin-right: auto !important;
}

.link-open {
  background-color: rgba(240, 192, 109, 1) !important;
  color: rgba(35, 58, 56) !important;
  margin-top: 10px;
}

.link-open:hover {
  color: rgba(240, 192, 109, 1) !important;
  background-color: rgba(35, 58, 56) !important;
}

.small-url {
  color: lightgray !important;
}

.dropdown {
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}

.button-filter-dropdown {
  background-color: rgba(35, 58, 56, .8) !important;
  color: rgba(240, 192, 109, .9);
  /* width: 160px; */
}

.button-filter-dropdown:hover{
  background-color: rgba(35, 58, 56, 1) !important;
  color: rgba(240, 192, 109, .9);
}

.dropdown-menu {
  background-color: rgba(35, 58, 56, 1) !important;
  /* width: 150px; */
  text-align: center;
}

.dropdown-item {
  color: rgba(240, 192, 109, .9) !important;
  margin-bottom: .5rem;
}

.dropdown-item:hover {
  background: rgba(240, 192, 109, .5) !important;
  color: rgba(35, 58, 56, 1) !important;
  font-weight: bold;
}

/* Media queries */

@media only screen and (max-width: 768px) {
  .websites-header-filter {
    font-size: 13px !important;
    margin: 1px 3.5px 1px 3.5px !important;
  }
  .dropdown {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .card-title {
    font-size: smaller;
  }
  .link-open {
    font-size: smaller;
  }
  .link-thumbnail {
    width: 80%;
    height: auto;
  }
}