<div class="websites-header">
  <h2 class="websites-header-title">Hasznos linkek</h2>
  <nav class="nav nav-pills flex-column flex-sm-row websites-header-filter">
    <a class="flex-sm-fill text-sm-center nav-link all-filter" routerLink="." routerLinkActive="active-all-filter">Összes</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="./reception" routerLinkActive="active-filter">Recepció</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="./administration" routerLinkActive="active-filter">Adminisztráció</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="./management" routerLinkActive="active-filter">Vezetőség</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="./callcenter" routerLinkActive="active-filter">Call Center</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="./it" routerLinkActive="active-filter">IT</a>
  </nav>
</div>

<!-- All links if route is /websites -->
<div class="row link-list" *ngIf="router.url === '/websites'">
  <ng-container *ngFor="let link of links">
    <div class="col-md" >
      <div class="card text-center link-card">
        <img class="card-img-top link-thumbnail" src="{{thumbnailPath}}{{link.image}}" alt="{{link.name}}">
        <div class="card-body">
          <h5 class="card-title">{{link.name}}</h5>
          <small class="text-muted small-url">{{link.url}}</small>
          <br>
          <a href="{{link.url}}" class="btn link-open">Megnyitás</a>
        </div>
      </div>
    </div>
  </ng-container>
  </div>
  
<!-- Router to filtering links -->
<router-outlet></router-outlet>

