.websites-header {
  background-color: rgba(35, 58, 56, .9) !important;
  border-radius: 5px;
  padding: 10px 15px 10px 15px !important;
  margin-bottom: 25px !important;
}

.websites-header-title {
  color: rgba(240, 192, 109, .9);
  text-align: center;
}

.websites-header-filter a{
  text-align: center;
  color: rgba(240, 192, 109, 1);
  background-color: rgba(35, 58, 56) !important;
  margin: 2.5px 5px 2.5px 5px !important;
}

.websites-header-filter a:hover {
  background-color: rgba(240, 192, 109, 1) !important;
  color: rgba(35, 58, 56) !important;
}

.active-filter {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  border: 1px solid rgba(240, 192, 109, 1) !important;
}

/* .active-all-filter {
  display: none;
} */


.websites-header-filter .all-filter {
  color: rgba(35, 58, 56) !important;
  background-color: rgba(220, 192, 109, 1) !important;
  font-weight: bold !important;
}

/* Media queries */
@media only screen and (max-width: 768px) {
  .websites-header-filter {
    font-size: 13px !important;
    margin: 1px 3.5px 1px 3.5px !important;
  }
}