<!-- Component header, with searchbar, filter dropdown -->
<div class="websites-header">
  <h2 class="websites-header-title">Hasznos linkek</h2>
    <div class="input-group mb-3">
      <input type="text" class="form-control shadow-none search-input" placeholder="Keresés..." [(ngModel)]="searchFilter">
        <button class="btn btn-input-clear shadow-none" type="button" (click)="clearInput()">
          <i class="fa fa-close"></i>
        </button>
          <div class="input-group-append">
            <div class="dropdown">
              <button class="btn button-filter-dropdown dropdown-toggle shadow-none" type="button" id="filter-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-filter"></i>
              </button>
                <div class="dropdown-menu" aria-labelledby="filter-dropdown">
                  <a class="dropdown-item" (click)="reset()">Összes</a>
                    <ng-container *ngFor="let category of categories">
                      <a class="dropdown-item" [ngClass]="{'selected-filter': filterTitle == category.name}" (click)="filterLinksByCategory(category)">{{category.name}}</a>
                    </ng-container>
                </div>
              </div>
          </div>
      </div>
</div>

<!-- Title based on selected category with a clear button -->
<h5 class="text-center">
  {{filterTitle}} <span class="clear-icon" *ngIf="filterTitle != ''" (click)="reset()"><i class="fa fa-close"></i></span>
</h5>

<!-- Link cards -->
<div class="row link-list">
  <ng-container *ngFor="let link of filteredLinks | filter:searchFilter">
    <div class="col-md" >
      <div class="card text-center link-card">
        <img class="card-img-top link-thumbnail" [src]=link.image [alt]=link.name>
        <div class="card-body">
          <h5 class="card-title">{{link.name}}</h5>
          <small class="text-muted small-url">{{link.url}}</small>
          <br>
          <a href="{{link.url}}" class="btn link-open">Megnyitás</a>
        </div>
      </div>
    </div>
  </ng-container>
</div>

