<div class="websites-header">
  <h2 class="websites-header-title">Hasznos linkek</h2>
  <nav class="nav nav-pills flex-column flex-sm-row websites-header-filter">
    <a class="flex-sm-fill text-sm-center nav-link all-filter" routerLink=".">Mind</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="./reception" routerLinkActive="active-filter">Recepció</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="" routerLinkActive="active-filter">Adminisztráció</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="" routerLinkActive="active-filter">Vezetőség</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="" routerLinkActive="active-filter">Call Center</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="" routerLinkActive="active-filter">IT</a>
  </nav>
</div>

<router-outlet></router-outlet>

<ul *ngIf="router.url === '/websites'">
  <li *ngFor="let link of links">
    <span class="badge">{{link.id}}</span> {{link.name}}
  </li>
</ul>
