<h3 class="text-center">Call Center</h3>

<div class="row link-list">
  <ng-container *ngFor="let link of links">
    <div class="col-md" *ngIf="link.category.includes('callcenter')">
      <div class="card text-center link-card">
        <img class="card-img-top link-thumbnail" [src]=link.image [alt]=link.name>
        <div class="card-body">
          <h5 class="card-title">{{link.name}}</h5>
          <small class="text-muted small-url">{{link.url}}</small>
          <br>
          <a href="{{link.url}}" class="btn link-open">Megnyitás</a>
        </div>
      </div>
    </div>
  </ng-container>
  </div>